<?xml version="1.0"?>

<robot name="hector_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find hector_description)/xacro/const.xacro"/>
    <xacro:include filename="$(find hector_description)/xacro/materials.xacro"/>
    <xacro:include filename="$(find hector_description)/xacro/leg.xacro"/>
    <xacro:include filename="$(find hector_description)/xacro/stairs.xacro"/>
    <xacro:include filename="$(find hector_description)/xacro/gazebo.xacro"/>
    <xacro:include filename="$(find hector_description)/xacro/imu.xacro"/>
    <!-- <xacro:stairs stairs="15" xpos="0" ypos="0" zpos="0" /> -->

    <!-- Rollover Protection mode will add an additional stick on the top, use "true" or "false" to switch it. -->

    <!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->


    <link name="base_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://hector_description/meshes/body.STL" scale="1 1 1"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="${trunk_length} ${trunk_width} ${trunk_height}"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="${trunk_com_x} ${trunk_com_y} ${trunk_com_z}"/>
            <mass value="${trunk_mass}"/>
            <inertia
                ixx="${trunk_ixx}" ixy="${trunk_ixy}" ixz="${trunk_ixz}"
                iyy="${trunk_iyy}" iyz="${trunk_iyz}"
                izz="${trunk_izz}"/>  
        </inertial>
    </link>

    <xacro:IMU connected_to="base_link" imu_name="imu" xyz="0. 0. 0." rpy="0. 0. 0."/>


    <xacro:leg name="L" mirror="1" mirror_dae="False">
        <origin rpy="0 0 0" xyz="${hip_offset_x} ${hip_offset_y} ${-hip_offset_z}"/>
    </xacro:leg>

    <xacro:leg name="R" mirror="-1" mirror_dae="True">
        <origin rpy="0 0 0" xyz="${hip_offset_x} ${-hip_offset_y} ${-hip_offset_z}"/>
    </xacro:leg>

</robot>
